.navigation-container {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  z-index: 2;
}

.lib-name-1,
.lib-name-2 {
  font-size: 3rem;
}

.navigation-item-1 {
  width: 40rem;
  justify-content: space-between;
}

.header-link {
  font-size: 2rem;
  color: var(--primary-text-color);
}

.header-link:hover {
  color: var(--secondary-text-color);
}
