.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.modal-box {
  height: fit-content;
  min-height: 10rem;
  min-width: 30rem;
}

.modal-header {
  background-color: var(--primary-bg-color);
}

.playlist-label {
  font-size: 2rem;
}

.playlist-input {
  font-size: 2rem;
  outline: none;
  padding: 5px;
  border: none;
  margin: 10px;
}

.playlist-selection-item-checkbox,
.playlist-selection-item-label {
  font-size: 2.5rem;
  cursor: pointer;
}
