@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Quicksand:wght@300&display=swap');

html {
  font-size: 62.5%;
}

:root {
  --primary-text-color: #534340;
  --secondary-text-color: #BB9981;
}

.links {
  text-decoration: none;
  cursor: pointer;
}

.icons {
  font-size: 3rem;
  cursor: pointer;
}