.hero-section {
  background-image: url("../../assets/images/hero-img.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width: 100%;
  height: 55rem;
  margin: 0px;
  position: relative;
  font-family: "Mate SC", serif;
}

.hero-text {
  height: 10rem;
  width: 50rem;
  color: var(--primary-text-color);
}

.hero-text-primary {
  font-size: 4rem;
  color: var(--white);
  font-family: "Karma", serif;
}

.hero-text-secondary {
  font-size: 2.5rem;
  color: var(--white);
  font-family: "Karma", serif;
}

.hero-cta-btn {
  font-size: 3rem;
  color: var(--primary-text-color);
}

body {
  overflow-y: auto;
}

.category {
  margin: 2rem;
}

.categories-section {
  width: 100%;
}

.category-img {
  width: 90rem;
  height: 45rem;
}

.category-title {
  text-align: center;
  font-size: 3rem;
}

.category-text {
  font-size: 2.5rem;
  color: var(--primary-text-color);
  font-family: "Source Code Pro", monospace;
}

.category-btn {
  margin: 0px 3rem;
}

.masterclass-img {
  width: 50rem;
  height: 25rem;
  margin: 1rem;
}

.power-women{
  width: 100%;
  margin: 1rem;
  height: 55rem;
}

@media only screen and (max-width: 600px){
  .hero-section {
    background-image: url("../../assets/images/hero-img-mb.png");
    background-repeat:no-repeat;
    background-size:contain;
  margin: 0px;
    
  }
  .hero-cta-btn {
    font-size: 2rem;
    color: var(--primary-text-color);
    position: absolute;
    top: 46rem;
    left: 2rem;
    margin: 0px;
  }
  .hero-text{
    width: auto;
    height: fit-content;
    margin: 0px;
  }
  .hero-text-primary {
    font-size: 2rem;
    position: absolute;
    top: 9rem;
    left: 2rem;
    margin: 0px;
  }
  .hero-text-secondary{
   display: none;
  }
  .category{
    flex-direction: column;
    margin: 0px;
  }
  .category-btn{
    margin: 0px;
  }
  .category-img {
    width: auto;
    height: 20rem;
  }
  .special-category-container1{
    flex-direction: column;
  }
  .masterclass-img{
    width: auto;
    margin: 0px;
  }
  .power-women{
    width: auto;
    height: 20rem;
    margin: 0px;
  }
  .category-title {
    text-align: center;
    font-size: 2rem;
    margin: 0px;
  }
  .category-text {
    font-size: 1.5rem;
    color: var(--primary-text-color);
    font-family: "Source Code Pro", monospace;
    margin: 0px;
  }
}
